<div class="col-lg-6">
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="{{vm.movie.imdbID | imdblink}}" target="_blank" class="thumbnail">
                <img ng-src="{{vm.movie.Poster}}" alt="{{vm.movie.Title}}">
            </a>
        </div>
        <div class="col-xs-8">
            <div class="title">{{vm.movie.Title}}</div>
            <div>Year: {{vm.movie.Year}}</div>
            <div>Genre: {{vm.movie.Genre}}</div>
            <div>Director: {{vm.movie.Director}}</div>
            <div>Actors: {{vm.movie.Actors}}</div>
            <div class="imdb-link"><a href="{{vm.movie.imdbID | imdblink}}" target="_blank">View on IMDB</a></div>
        </div>
    </div>
</div>
